/* CSS Externo */

/* Defenir as cores Tema Dark */
/*  raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #3c3c3c;
    --cor-texto: #e9e9e9;

    --menu-link: #ffffff;

}

:root[data-theme='light'] {
    --cor-fundo: #dddada;
    --cor-texto: #1b1b1b;

    --menu-link: #000000;

}





body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: (--cor-texto);
    /* cor TEXTOS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(250, 148, 250);
    border-bottom: 5px solid #fe74ee;
}

.menu-desktop {
    background: rgb(249, 161, 255);
    display: none;
    /* esconde o menu desktop */
}

/*  NAV= UL // OL */
.menu {
    display: flex;
    /* em linha */
    /* horizontal */
    gap: 2rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* menu hamburguer */


/* Medidas Responsivas */
@media (min-width:768px) {
    .menu-desktop {
        display: flex;
    }
}